button.app-button {
  min-width: 110px;
  line-height: 40px;
  border-radius: 10px;
  border: 0;
  background-color: #3880ff;
  color: #fff;
  outline: none;
  cursor: pointer;
}

button.app-button:hover {
  opacity: 0.9;
}

button.app-button.primary {
  background-color: #3880ff;
  color: #ffffff;
}

button.app-button.success {
  background-color: #2dd36f;
  color: #ffffff;
}

button.app-button.warning {
  background-color: #ffc409;
  color: #000000;
}

button.app-button.danger {
  background-color: red;
  color: #ffffff;
}