.app-chip {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: fit-content;
  padding: 15px 10px;
  border-radius: 10px;
}

.app-chip.primary {
  background-color: #3880ff;
  color: #ffffff;
}

.app-chip.success {
  background-color: #2dd36f;
  color: #ffffff;
}

.app-chip.warning {
  background-color: #ffc409;
  color: #000000;
}

.app-chip.danger {
  background-color: red;
  color: #ffffff;
}