.p-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.m-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}